{
    "openapi": "3.1.0",
    "info": {
        "title": "Histori Archival Node's Ethereum JSON-RPC Methods",
        "description": "This reference showcases an Ethereum type JSON-RPC API connecting to an Ethereum network node. Some methods require parameters, and a sample request body is presented in each method. You can copy an paste those sample requests for simplicity.",
        "version": "v0.0.1"
    },
    "servers": [
        {
            "url": "https://node.histori.xyz",
            "description": "Histori Archive Node"
        }
    ],
    "paths": {
        "/{network}/eth_blockNumber": {
            "post": {
                "tags": [
                    "ETH Methods"
                ],
                "summary": "Returns the number of the most recent block.",
                "description": "",
                "operationId": "eth_blockNumber",
                "parameters": [
                    {
                        "name": "network",
                        "in": "path",
                        "schema": {
                            "type": "string",
                            "default": "eth-mainnet",
                            "description": "The blockchain network to connect to.",
                            "example": "eth-mainnet"
                        },
                        "required": true,
                        "example": "eth-mainnet",
                        "description": "The blockchain network to connect to."
                    },
                    {
                        "name": "projectId",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "8ry9f6t9dct1se2hlagxnd9n2a",
                            "example": "8ry9f6t9dct1se2hlagxnd9n2a"
                        },
                        "required": true,
                        "example": "8ry9f6t9dct1se2hlagxnd9n2a",
                        "description": "The id of your project. Can be found in your Histori dashboard."
                        
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "jsonrpc": "2.0",
                                "method": "eth_blockNumber",
                                "params": [],
                                "id": 1
                            },
                            "schema": {
                                "$ref": "#/components/schemas/Input"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Sample Response": {
                                        "summary": "Real World response",
                                        "value": {
                                            "jsonrpc": "2.0",
                                            "id": 1,
                                            "result": "0x1420e44"
                                        }
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/Output"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{network}/eth_call": {
            "post": {
                "tags": [
                    "ETH Methods"
                ],
                "summary": "Executes a new message call immediately without creating a transaction on the blockchain.",
                "description": "",
                "operationId": "eth_call",
                "parameters": [
                    {
                        "name": "network",
                        "in": "path",
                        "schema": {
                            "type": "string",
                            "default": "eth-mainnet",
                            "description": "The blockchain network to connect to.",
                            "example": "eth-mainnet"
                        },
                        "required": true,
                        "example": "eth-mainnet",
                        "description": "The blockchain network to connect to."
                    },
                    {
                        "name": "projectId",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "8ry9f6t9dct1se2hlagxnd9n2a",
                            "example": "8ry9f6t9dct1se2hlagxnd9n2a"
                        },
                        "required": true,
                        "example": "8ry9f6t9dct1se2hlagxnd9n2a",
                        "description": "The id of your project. Can be found in your Histori dashboard."
                        
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Input"
                            },
                            "example": {
                                "jsonrpc": "2.0",
                                "method": "eth_call",
                                "params": [
                                    {
                                        "to": "0x6b175474e89094c44da98b954eedeac495271d0f",
                                        "data": "0x70a082310000000000000000000000006E0d01A76C3Cf4288372a29124A26D4353EE51BE"
                                    },
                                    "latest"
                                ],
                                "id": 1
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Output"
                                },
                                "examples": {
                                    "Sample Response": {
                                        "summary": "Real World response",
                                        "value": {
                                            "jsonrpc": "2.0",
                                            "id": 1,
                                            "result": "0x0000000000000000000000000000000000000000000000000858898f93629000"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{network}/eth_estimateGas": {
            "post": {
                "tags": [
                    "ETH Methods"
                ],
                "summary": "Generates and returns an estimate of how much gas is necessary to allow the transaction to complete.",
                "description": "Note that the estimate may be significantly more than the amount of gas actually used by the transaction, for a variety of reasons including EVM mechanics and node performance.",
                "operationId": "eth_estimateGas",
                "parameters": [
                    {
                        "name": "network",
                        "in": "path",
                        "schema": {
                            "type": "string",
                            "default": "eth-mainnet",
                            "description": "The blockchain network to connect to.",
                            "example": "eth-mainnet"
                        },
                        "required": true,
                        "example": "eth-mainnet",
                        "description": "The blockchain network to connect to."
                    },
                    {
                        "name": "projectId",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "8ry9f6t9dct1se2hlagxnd9n2a",
                            "example": "8ry9f6t9dct1se2hlagxnd9n2a"
                        },
                        "required": true,
                        "example": "8ry9f6t9dct1se2hlagxnd9n2a",
                        "description": "The id of your project. Can be found in your Histori dashboard."
                        
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "jsonrpc": "2.0",
                                "method": "eth_estimateGas",
                                "params": [
                                    {
                                        "from": "0x8D97689C9818892B700e27F316cc3E41e17fBeb9",
                                        "to": "0xd3CdA913deB6f67967B99D67aCDFa1712C293601",
                                        "value": "0x186a0"
                                    }
                                ],
                                "id": 1
                            },
                            "schema": {
                                "$ref": "#/components/schemas/Input"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Output"
                                },
                                "examples": {
                                    "Sample Response": {
                                        "summary": "Real World response",
                                        "value": {
                                            "jsonrpc": "2.0",
                                            "id": 1,
                                            "result": "0x5208"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },

        "/{network}//eth_gasPrice": {
            "post": {
                "tags": [
                    "ETH Methods"
                ],
                "summary": "Returns the current gas price in the default EVM denomination parameter.",
                "description": "",
                "operationId": "eth_gasPrice",
                "parameters": [
                    {
                        "name": "network",
                        "in": "path",
                        "schema": {
                            "type": "string",
                            "default": "eth-mainnet",
                            "description": "The blockchain network to connect to.",
                            "example": "eth-mainnet"
                        },
                        "required": true,
                        "example": "eth-mainnet",
                        "description": "The blockchain network to connect to."
                    },
                    {
                        "name": "projectId",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "8ry9f6t9dct1se2hlagxnd9n2a",
                            "example": "8ry9f6t9dct1se2hlagxnd9n2a"
                        },
                        "required": true,
                        "example": "8ry9f6t9dct1se2hlagxnd9n2a",
                        "description": "The id of your project. Can be found in your Histori dashboard."
                        
                    }
                ],
                  "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "jsonrpc": "2.0",
                                "method": "eth_gasPrice",
                                "params": [],
                                "id": 1
                            },
                            "schema": {
                                "$ref": "#/components/schemas/Input"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Output"
                                },
                                "examples": {
                                    "Sample Response": {
                                        "summary": "Real World response",
                                        "value": {
                                            "jsonrpc": "2.0",
                                            "id": 1,
                                            "result": "0xcc96cfd2"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{network}//eth_getBalance": {
            "post": {
                "tags": [
                    "ETH Methods"
                ],
                "summary": "Returns the balance of the account of given address.",
                "description": "Returns the balance of the account of given address.",
                "operationId": "eth_getBalance",
                "parameters": [
                    {
                        "name": "network",
                        "in": "path",
                        "schema": {
                            "type": "string",
                            "default": "eth-mainnet",
                            "description": "The blockchain network to connect to.",
                            "example": "eth-mainnet"
                        },
                        "required": true,
                        "example": "eth-mainnet",
                        "description": "The blockchain network to connect to."
                    },
                    {
                        "name": "projectId",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "8ry9f6t9dct1se2hlagxnd9n2a",
                            "example": "8ry9f6t9dct1se2hlagxnd9n2a"
                        },
                        "required": true,
                        "example": "8ry9f6t9dct1se2hlagxnd9n2a",
                        "description": "The id of your project. Can be found in your Histori dashboard."
                        
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "jsonrpc": "2.0",
                                "method": "eth_getBalance",
                                "params": [
                                    "0x8D97689C9818892B700e27F316cc3E41e17fBeb9",
                                    "latest"
                                ],
                                "id": 1
                            },
                            "schema": {
                                "$ref": "#/components/schemas/Input"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Output"
                                },
                                "examples": {
                                    "Sample Response": {
                                        "summary": "Real World response",
                                        "value": {
                                            "jsonrpc": "2.0",
                                            "id": 1,
                                            "result": "0xba862b54effa"
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{network}//eth_getBlockByHash": {
            "post": {
                "tags": [
                    "ETH Methods"
                ],
                "summary": "Returns information about a block by hash.",
                "description": "Returns information about a block by hash.",
                "operationId": "eth_getBlockByHash",
                "parameters": [
                    {
                        "name": "network",
                        "in": "path",
                        "schema": {
                            "type": "string",
                            "default": "eth-mainnet",
                            "description": "The blockchain network to connect to.",
                            "example": "eth-mainnet"
                        },
                        "required": true,
                        "example": "eth-mainnet",
                        "description": "The blockchain network to connect to."
                    },
                    {
                        "name": "projectId",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "8ry9f6t9dct1se2hlagxnd9n2a",
                            "example": "8ry9f6t9dct1se2hlagxnd9n2a"
                        },
                        "required": true,
                        "example": "8ry9f6t9dct1se2hlagxnd9n2a",
                        "description": "The id of your project. Can be found in your Histori dashboard."
                        
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "jsonrpc": "2.0",
                                "method": "eth_getBlockByHash",
                                "params": [
                                    "0x3f07a9c83155594c000642e7d60e8a8a00038d03e9849171a05ed0e2d47acbb3",
                                    false
                                ],
                                "id": 1
                            },
                            "schema": {
                                "$ref": "#/components/schemas/Input"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Sample Response": {
                                        "summary": "Real World response",
                                        "value": {
                                            "jsonrpc": "2.0",
                                            "id": 1,
                                            "result": {
                                                    "baseFeePerGas": "0xa9c1a2812",
                                                    "difficulty": "0x0",
                                                    "extraData": "0x546974616e2028746974616e6275696c6465722e78797a29",
                                                    "gasLimit": "0x1c9c380",
                                                    "gasUsed": "0xa43ff7",
                                                    "hash": "0x3f07a9c83155594c000642e7d60e8a8a00038d03e9849171a05ed0e2d47acbb3",
                                                    "logsBloom": "0x4661734261c431449406ec8180129028925a74170201187501291e379407488680401aa08140282302802d38ba7315082285b0608c0be08c07d0c02df06d6d0589500048c4230928a940411fc03e78358211042909402f4000076122e6239cc0b20061202fd701831108b218a01218541251365218100550b200555c305cd295c6000948011a91b9004354225122940510208481d94648480817a0ca40901129ca972160100c7c184003ecc2901915559710820220f28123d1aa0182150800955b50446a0728084b08109470803b93983ee77222c41c285a014345022d24e8241610a74560888b0200a7f6a263091080183072188a0924440a0c4c4332312425",
                                                    "miner": "0x4675c7e5baafbffbca748158becba61ef3b0a263",
                                                    "mixHash": "0x1ae62e0fb485923e132a225995763ca753d3907a66faca42a355e4a78c64e9fa",
                                                    "nonce": "0x0000000000000000",
                                                    "number": "0x10c582e",
                                                    "parentHash": "0x5d5ccd7726eeca1f1b8d82ccaf55a55c86ee4647e5ff84e4345b6b68afd835e4",
                                                    "receiptsRoot": "0x5e407b2a8177a6cff4e2fe66402da0165e4517b9981bbd1c49f55e6108b2de66",
                                                    "sha3Uncles": "0x1dcc4de8dec75d7aab85b567b6ccd41ad312451b948a7413f0a142fd40d49347",
                                                    "size": "0xed40",
                                                    "stateRoot": "0xc2bba9851341223b1c7d58e8242ef906e0b47a743c1ae83af1f518b446d221df",
                                                    "timestamp": "0x649db4c3",
                                                    "transactions": [
                                                        "0xde670a91aae6a838a7a86b5f78df9bad82f2c68fa7c17c697f8434e1a293a188",
                                                        "0x8e56e1c506958a20ad1282fd159baa26ce2bce23f7edf24624c6a6f8cab438fb",
                                                        "0x83f7109e25bd7401c16555ee86e40af4d78be142b66c738fd942513b6a23075d",
                                                        "0x87cddb42f59ec12a94dff464adc832b5a3c3ca7c9c3b792ffb6dbcb9d6c48e2d",
                                                        "0xc9f3480f2f79a330c3761abc5f8aee7702c8d7c5206483d60b8964865c202dc4",
                                                        "0xe0e1bb6f9b08b9515c2313353c97f9b8d0c40a927b961b8640d2e7aaa600429c",
                                                        "0x5c3fa20e383bfe139a078a699134d057ffe261fa50eda64b93703f5fe8708d76",
                                                        "0x7bde0701407ed35095b78f1283ba18a4ee9a61970d4a43ca86462a44ed442d33",
                                                        "0x6a6302ffc38736a92c19d3fda646503d436468a1e4b1dc6d5acc36e40e3cf83d",
                                                        "0xc4c0a5b863034cbe833f487bd982d97a3f9fdd04382adf705b8eda4c780a8ecf",
                                                        "0x1b959743aca1a5b79aea5b0f9a9e574dbdf9c42139119b99ad14d460553a7cc4",
                                                        "0xd86bb2db6e973f3bba926952cb7f7d22e581375f0084b91eff33b0598659bf82",
                                                        "0x9a4a0c005ae0f08a1403738aea18a36559e7b539e2a08d202f3be2e1ff915f23",
                                                        "0x732304b4295790be7322ecb6ac3a51d681ba5a231941a16ae160d2788e733337",
                                                        "0x049fec94d68d16b7958414bbca7c13fa09d99e6b252b1fb0681d04da70b36b7d",
                                                        "0x8194a2773aed8b310912ed11403c8746e830a35a419d77311913c7b74fec8705",
                                                        "0xde4efe2d6ea53518d7d3feaf65417b18d432a731e1729d992fe43bb473e914ba",
                                                        "0x67b182e64b26269526965b6f72e19a0cbf420ac5ed19142d6996f6ea98c10a26",
                                                        "0xe1a15a067b5f37d5cc4c25404dfd747a7e338cf5b07834ea083bd1252fa4c72d",
                                                        "0x4c402ec553c00b3ff288912539b303bf7ab1f98017742e2af402d5617ef28cc5",
                                                        "0xa7debe35b34e9e62e8c8a33b0f00ec8afff59a58b9697431e2a3750c729aa3de",
                                                        "0x51b06367b6a247ee6001bf80b064063f27ab6e94d26ea4ecf6fe040b7575b2e4",
                                                        "0x1a0641e8371977b91ee2de1dd6026b228cda987696175f4fbc0b504c1a6402b9",
                                                        "0x49aa85c7a976f48e97a6e5b4d159d1395bb35b156aae6cf02c3e7d6df4a68a99",
                                                        "0x610ea279e81f3509163ff808adc8971c28fc41e3f5772c248673f90a3ef966d9",
                                                        "0x735bd1143f0a1f016f4ae8d538927b3364d19508f7bcf663a882af601e58dcc9",
                                                        "0x642a521452c1fbe3dd90595751bf30833a743a741c3c7b7fc780aa985e2668ab",
                                                        "0xf0180ce5f1ec6e1ff3dd395faa31f66eaab4eae141dd0010d3bb03ff55f90039",
                                                        "0x492316547d3652df628db3e416513f178247888cb9ba521028549362b8cc7083",
                                                        "0x12f153569f4707b8d84f91535af28790cc03edb4361c6a5e50dcfae6250b22df",
                                                        "0x4ad42a4b87d14298a59a1d8c9c7b7f456e852811283449da0a8b484790b8534a",
                                                        "0xb9ce0b9b6b392ec677a055b950cc30ed12d35999c37f8c9b7ac4bfb3b5264d2b",
                                                        "0x68da98f56db550fd02550aaf5bde1635c69c6cdb7f8a2b2928108eb56ccd6d7b",
                                                        "0x23e5038a942ceb3ecacd0f52264237f801484bb073b4f4030dfad075552291b0",
                                                        "0xd4d3512b8f302da842735b9ba634a919ac4a50fac470f70a3ab7b97243421ed3",
                                                        "0xf636c49863cec892ef87d04999a16c84c38c3f1fc14a553f26a2a5dface93c8d",
                                                        "0x036d32d901fcc938ff58b2cd6e51cff9583b4faec73cac4467816b0bfc409d4f",
                                                        "0x403d45d1dbfd6faf3cfd7442078395b2d62be9006fd45b4cf3c1ced4b9097082",
                                                        "0xea3247c928f19bd363822f314eaaf905f89275feebcddfd7909a650acf509a39",
                                                        "0x5ad9d436e9912ff87758bedf1c9f5c065d0d7ee50ccfa2d7bf050d70193c3181",
                                                        "0x818b8758572414d78697be46e55ebf123ede74e0599ebfe28ecf90a730687054",
                                                        "0xafd06184303265be88cd7222e9515cf99a3e799817e14194eeb6780f297d634c",
                                                        "0x1226fae2c6c602a2dba8c6d1e632aba6c90fc2e74daa1d6a06962aaa2b8f4d85",
                                                        "0x8ebc925848edf1f3f9281125d167ce8f1614d4a829ae9a885f4bf350d6840fda",
                                                        "0x63c1ad22bb654b69bbea129c1236ade72e89721a6d28370ef0de7d644d599b87",
                                                        "0xf8dd7692104cc8274d46e0979864d5e204ca64729f4ffc2821b2fb4ed7c81003",
                                                        "0x9f0e2764354ac5b589883a22f7afbd8e717bd618531afcca955e2394e42f2819",
                                                        "0x5d79ae11eb22abc0e5cf0c0f88a6bd0f63df3b4c9f72e483581add2deb7d6a8d",
                                                        "0x2d7bcb7b65bafd5e9ac1800bcf219de36d90acd6b3ff58261bb252d9bf817c5c",
                                                        "0x77c10fdc2aba717383337512ef1abd2c99ebf29b64c650d6871d4f94a8e95907",
                                                        "0x493c57ea58cd853430d91d56c5045f3645240ab74e532a07d9dff7e806e0eeba",
                                                        "0x5626db8fcc6c8102cb68c5d8cec1051cfee803d4d7c63cf9d405e5b5ea1fc206",
                                                        "0x79754ccceec97935c64846f52b7bcdf6a4f76a015e68b4bdfe66b224f10c07a9",
                                                        "0x2f1a906654363e375992bf16ba481e6d44fc958e242a19ab9742c926a7a5d442",
                                                        "0x956f6925641029be6a993e4b56d604c9a4d8467a40ccefc28183af697c77319e",
                                                        "0xc1fb95a1aa18ce093dd45e8407466933ee39fa2c4fdc1dfb1217d3fbe6c4cd12",
                                                        "0x6a4a3c40bce5d1d3c1a3d6983b358a92115d511594c050daa3bb4a5f5672f1fd",
                                                        "0x97c75e3c3716aa7e7fbe1488e135f099643ed769a9f7e725e9889434724c1973",
                                                        "0x3859fddfe71c0ac261863df7482f04c2a263e5b9f5bbfb82d60c5dee65515414",
                                                        "0x95e63be3edc06064cd07a5be33c32af908a5516a6c722a7f7be1dab84cdd2585",
                                                        "0xe0e2f3b71a724539e8b71ff884bd7161628a332071636915229cb4a6f8c7a13f",
                                                        "0x4518135696dff4e86c32e4b0455c489bc69cd3303fdc9927c6cd29c27032a6be",
                                                        "0x776366af9dcff05d078113aac32bfd6bea02f7d9e992243d10dc521a9255d679",
                                                        "0xbfc5fb33704e21381df9df85828bd06d3a503d06c185212e31f8969a312f8bd9",
                                                        "0xf5616bfe72ba629c800b847bc7ea6add099556d728f265e549a67591c86a7fa4",
                                                        "0x519cfae6ab014bd697b7f23cbb534ea9c574f6cd1e6fe12f96b83ad94c5ae126",
                                                        "0xbe7925a1c47d2a0b6ac589c36361b0d792a90a9a5f9079fa7d743ab6ddb7732c",
                                                        "0x4789af9e7163df2c609ac3ca5698b3396c19b1c8a2a622891ee351af72549177",
                                                        "0x3f8deb9b46d294e633070d6d9dba726f5aa2f3c22867a09db27e3beaafb7755a",
                                                        "0x738863df4fade7ae4eae1412bc29d4dadab700d18081d13ad6daeedf9bb8cc5a",
                                                        "0xd79dc3e508c51f333ea816178a9e88c63ea8ef20c1cd86d4123fc41d849f50ba",
                                                        "0x968635de1d57b22a440984a31f60bc46e2309297772b66a0340c3f9bdb3d89de",
                                                        "0x86371fac493bab1226ca7692e0544640ffa2796179e1f6fd4b1c599cc7ac86f0",
                                                        "0x45ca2411c40f413ab75bc640d178b78b467b894311074a0c120b651ebb81c123",
                                                        "0x7811ff3ac45526e558a0f7df399012e1f30ac7524e1478cf95b4c7fad2e9abb7",
                                                        "0x790e176f08aef886c19f1335aab860d44eee6df2cc526a89f1d33b5c63c2d0f3",
                                                        "0xe237ef3551c533c1741baa8a90d617812a7819d58e4718aced52670159875444",
                                                        "0x9ff768db128b5c73d785ba7ced155185e69db6e12eb99f1cab2b0e22eb6d9114",
                                                        "0x0fde7981236b494f6ebfe4e7c8192d0c337dd2252a6177515133d5795c55e254",
                                                        "0xadd19eb0bdbe6bbe2092a289b0806d358db7e28b23e239701e7cac9be2f702bf",
                                                        "0x181fd6949f31feca75e63f246b174c0a94fd036d21b15351dbedf0917b2de2b2",
                                                        "0xbd605393f3dbc276577f798ce221f52ef87685b3606ffc0fe2d2654a681b94a2",
                                                        "0x95eea1a49719340d19a9c5616f4299e22ad84cf6719ee0af6b0c76639b13a567",
                                                        "0x5b6345817c270a2c1577bc09d0383cfed3aa578a52e46c1a116091d512d04100",
                                                        "0xcee4e9deda6af398ea17f355561c36f36e3d68f17623af6a792e15b2d0dea945",
                                                        "0xcc11af793dbda41e79315dc8af4505e4cc37e61b916f6e3180e41e6b01ad787d",
                                                        "0x59a1eb635b330926d04d5e13811f0351a9948cd3bf95bb34857a5b6f858b9f9c",
                                                        "0x544ce180a8ba1e99feb80ca980c10fbe94973fe3e6600b01b0a651480c0d98ce",
                                                        "0x52333e15904a471d8ec4d9bb2e4cf25213089480b46239681f8fe881e0e855ed",
                                                        "0x5e4d5a40a73aa5c4f96a828d0baa3b8498911f8cb7c0f8318830389c831edc6d",
                                                        "0x66ed399203a74f9d138a7c7872342f0bdf637bcd99a7a79347eb0d2be7f9f116",
                                                        "0xad7fabf0b31501b8b744282381526fc3d5091e12468802b12cd9fd25b71eae04",
                                                        "0x32f0db19f2ede0c7b3f7c6bb1633902fa604ebfd913011a539d2b25634e70edf",
                                                        "0x53f424b1c07c39f2462dd338a0703d9eb5f032b02c26dadbb3a1dff44a75a789",
                                                        "0x5939aca6ee13474d5bb8d48f896a741a9de8efe698b0dd395604f1c619faa4af",
                                                        "0xea0b3e19c109bde19e9ba1fcf8fa249d2c600e1fd8db45950f1ac89104b3b297",
                                                        "0xd4ebc4128144cda1dcc3ddf59c1482dbcb7d7430009c8a030e64589fb46afdb2",
                                                        "0xff7d9cd2dc489684758c0fa854d1fdbbe5ffe567010eecffdf8156e2ca0efc51",
                                                        "0xb8a1e5bd6da80e28900be953181613d368370b255a8d3e8384090e5e96c93ac4",
                                                        "0x2c720a605aa47c8ae75017e6508482c05beec51289a78e149e7c9db3bd0f8e13",
                                                        "0xc3e71e3bde6790fcd82952bf67fd7859569184e6c3f5e193e598ca4fec98019a",
                                                        "0x9f2886eb4729acd2ba9ec1e91aced2e17fe379ead4c8498e066dc5543504e71a",
                                                        "0x5fd41fb76074ccd2f7caead6e7f6015c75cffad57aa8670e07417badd6c57bd4",
                                                        "0x50c67ded704a470aae2239f1647d6de8b7f2a692cacf3332aeb76ea69c405bc7",
                                                        "0xb30605da96d1748184eb13cc6ee7b81e8afa7be98db6bf86a490cfa7df5a4805",
                                                        "0x89c20944ebcd4c28cd5a25910e0f0ef955db34813c2409e99b50fcdf3c20c17b",
                                                        "0x3fa2301cb27d0e8a72a4a33ebe720198b0e8b990f2c0712602d5a2012facc018",
                                                        "0x0fccd87ab0477580046cd1b439379c56d25d7a2738260bd61298d012b4720d2c",
                                                        "0x1f325fce17ac045ea8a0d4b442d0e562f20defc24836cf3802ed3b7c34bffdb6",
                                                        "0xfaf4e63440cc31a11592bc5cd2a315cd8224c2160831959c10c9716bed83f176",
                                                        "0x3cf6248fc061924c04c1d2160be63add6bc5e382aa24e63b169488a812341853",
                                                        "0xfd2ce55297084ee3154f893abb69aaa838633cc9b5a7f63525dfbc2641bc3699",
                                                        "0x62a3be4951e46c9fc88d7f541e30adc1316cbb580ab7bb5969c9975254f7925b",
                                                        "0x71a62981e03dacf05531b11d1763095f55977349f37b0d6cf489c02616a48e36",
                                                        "0xf3a82f6883496972ceaa2d990b4d3a2007d546154bbed871dd88cf5973e6bea8",
                                                        "0xac647892d04679091d6690c0fdc0a3ef9c24caf0aa853ab1363e2d4e3ac3bc4f",
                                                        "0x62146c07288c6abcf583966165f0533d74602a0d393b2f860ec7d33b1ffa47bf",
                                                        "0x3091844262d80e9b1edc7d67fc496145151e512176c56a5ea14f25ddc8061f1f",
                                                        "0x5cc80070e6af4d6ec1310b1b00aee0875703b0704c137f2371d70cfa4233a2a1",
                                                        "0xfccd3d87b238fcc9d51686cce6d0c6b9e721d89a156afba087050f8a2edb1b44",
                                                        "0xe316f226869826ab235d27a30e4bb568a8f4ff8970793128b77dde79325bad99",
                                                        "0x131db3097d28948a96405023871e1fa041fd274885d3e71668461f7d8b8a20bd",
                                                        "0x233d8d14ed7199aa79d93d1914924698287c6359f00b96ab2762898328072847",
                                                        "0x7f517a902e73b7c1c94675da7f1cfdfa2d11a32512f88752b92572820140b1f7",
                                                        "0x525487d50e0948d1eac841fbec6d60a08e6027aeb4c59be6e4daf0ca761aa75a",
                                                        "0xa5b573fdd9d1e2a3dc61694f2345ae0046340147f96bc164d0906d34bec66228",
                                                        "0x7b1d3fdbf92fc7c8f353fa0a54822ae1675d343e1f2bb7107fe64727c9173b26",
                                                        "0xe948128faf0a6a853169f1b166e938ac356d84d47f07bcdef287011a598fd2b5",
                                                        "0x58a0b91944d0ee2b7cdd6d297c94e40d4060bfdc1f7b5bde502e4db7fb47c4f9",
                                                        "0x393c8991966eb69853354e729edd5a44c74c537ccb493d859532ced8dc4079f0",
                                                        "0x4967878975fc1774e6f7722f7e4940a00782b5a001150e16d8a9b1444ba017e0",
                                                        "0x30ba37f142c0a1de50c46437178fb3ad9c09cf318de576d3800155334aa9daba"
                                                    ],
                                                    "transactionsRoot": "0x454271da3c0119434a61de5bb9fc2155b3885195fb8a051aee78edd5f4cc12af",
                                                    "uncles": [],
                                                    "withdrawals": [
                                                        {
                                                            "index": "0x8698af",
                                                            "validatorIndex": "0x96f2f",
                                                            "address": "0xb92b4a201f4320a6db6d1fb2d3bac834bdaa95c9",
                                                            "amount": "0xd6de21"
                                                        },
                                                        {
                                                            "index": "0x8698b0",
                                                            "validatorIndex": "0x96f30",
                                                            "address": "0xb92b4a201f4320a6db6d1fb2d3bac834bdaa95c9",
                                                            "amount": "0xd6539a"
                                                        },
                                                        {
                                                            "index": "0x8698b1",
                                                            "validatorIndex": "0x96f31",
                                                            "address": "0xb92b4a201f4320a6db6d1fb2d3bac834bdaa95c9",
                                                            "amount": "0xd63e49"
                                                        },
                                                        {
                                                            "index": "0x8698b2",
                                                            "validatorIndex": "0x96f32",
                                                            "address": "0xb92b4a201f4320a6db6d1fb2d3bac834bdaa95c9",
                                                            "amount": "0xd636df"
                                                        },
                                                        {
                                                            "index": "0x8698b3",
                                                            "validatorIndex": "0x96f33",
                                                            "address": "0xb92b4a201f4320a6db6d1fb2d3bac834bdaa95c9",
                                                            "amount": "0xd63ca5"
                                                        },
                                                        {
                                                            "index": "0x8698b4",
                                                            "validatorIndex": "0x96f34",
                                                            "address": "0xb92b4a201f4320a6db6d1fb2d3bac834bdaa95c9",
                                                            "amount": "0xd5a620"
                                                        },
                                                        {
                                                            "index": "0x8698b5",
                                                            "validatorIndex": "0x96f35",
                                                            "address": "0xb92b4a201f4320a6db6d1fb2d3bac834bdaa95c9",
                                                            "amount": "0xd61da7"
                                                        },
                                                        {
                                                            "index": "0x8698b6",
                                                            "validatorIndex": "0x96f36",
                                                            "address": "0xb92b4a201f4320a6db6d1fb2d3bac834bdaa95c9",
                                                            "amount": "0xd6632f"
                                                        },
                                                        {
                                                            "index": "0x8698b7",
                                                            "validatorIndex": "0x96f37",
                                                            "address": "0xb92b4a201f4320a6db6d1fb2d3bac834bdaa95c9",
                                                            "amount": "0xd61256"
                                                        },
                                                        {
                                                            "index": "0x8698b8",
                                                            "validatorIndex": "0x96f38",
                                                            "address": "0xb92b4a201f4320a6db6d1fb2d3bac834bdaa95c9",
                                                            "amount": "0x2f49d24"
                                                        },
                                                        {
                                                            "index": "0x8698b9",
                                                            "validatorIndex": "0x96f39",
                                                            "address": "0xb92b4a201f4320a6db6d1fb2d3bac834bdaa95c9",
                                                            "amount": "0xd6cb13"
                                                        },
                                                        {
                                                            "index": "0x8698ba",
                                                            "validatorIndex": "0x96f3a",
                                                            "address": "0xb92b4a201f4320a6db6d1fb2d3bac834bdaa95c9",
                                                            "amount": "0xd697f4"
                                                        },
                                                        {
                                                            "index": "0x8698bb",
                                                            "validatorIndex": "0x96f3b",
                                                            "address": "0xb92b4a201f4320a6db6d1fb2d3bac834bdaa95c9",
                                                            "amount": "0xd68258"
                                                        },
                                                        {
                                                            "index": "0x8698bc",
                                                            "validatorIndex": "0x96f3c",
                                                            "address": "0xb92b4a201f4320a6db6d1fb2d3bac834bdaa95c9",
                                                            "amount": "0xd654b5"
                                                        },
                                                        {
                                                            "index": "0x8698bd",
                                                            "validatorIndex": "0x96f3d",
                                                            "address": "0xb92b4a201f4320a6db6d1fb2d3bac834bdaa95c9",
                                                            "amount": "0xd608e6"
                                                        },
                                                        {
                                                            "index": "0x8698be",
                                                            "validatorIndex": "0x96f3e",
                                                            "address": "0xb92b4a201f4320a6db6d1fb2d3bac834bdaa95c9",
                                                            "amount": "0x2e76a6d"
                                                        }
                                                    ],
                                                    "withdrawalsRoot": "0x18653ee7f94eedf77354349c686d1eee2b1ce45b414b3a3a903370b7fd63d05e"
                                                }
                                        }
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/Output"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{network}/eth_getBlockByNumber": {
            "post": {
                "tags": [
                    "ETH Methods"
                ],
                "summary": "Returns information about a block by block number.",
                "description": "Returns information about a block by block number.",
                "operationId": "eth_getBlockByNumber",
                "parameters": [
                    {
                        "name": "network",
                        "in": "path",
                        "schema": {
                            "type": "string",
                            "default": "eth-mainnet",
                            "description": "The blockchain network to connect to.",
                            "example": "eth-mainnet"
                        },
                        "required": true,
                        "example": "eth-mainnet",
                        "description": "The blockchain network to connect to."
                    },
                    {
                        "name": "projectId",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "8ry9f6t9dct1se2hlagxnd9n2a",
                            "example": "8ry9f6t9dct1se2hlagxnd9n2a"
                        },
                        "required": true,
                        "example": "8ry9f6t9dct1se2hlagxnd9n2a",
                        "description": "The id of your project. Can be found in your Histori dashboard."
                        
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "jsonrpc": "2.0",
                                "method": "eth_getBlockByNumber",
                                "params": [
                                    "0xc5043f",
                                    false
                                ],
                                "id": 1
                            },
                            "schema": {
                                "$ref": "#/components/schemas/Input"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Sample Response": {
                                        "summary": "Real World response",
                                        "value": {
                                            "jsonrpc": "2.0",
                                            "id": 1,
                                            "result": {
                                                "difficulty": "0x1913ff69551dac",
                                                "extraData": "0xe4b883e5bda9e7a59ee4bb99e9b1bc000921",
                                                "gasLimit": "0xe4e1b2",
                                                "gasUsed": "0xe4d737",
                                                "hash": "0xa917fcc721a5465a484e9be17cda0cc5493933dd3bc70c9adbee192cb419c9d7",
                                                "logsBloom": "0x00af00124b82093253a6960ab5a003170000318c0a00c18d418505009c10c905810e05d4a4511044b6245a062122010233958626c80039250781851410a468418101040c0100f178088a4e89000140e00001880c1c601413ac47bc5882854701180b9404422202202521584000808843030a552488a80e60c804c8d8004d0480422585320e068028d2e190508130022600024a51c116151a07612040081000088ba5c891064920a846b36288a40280820212b20940280056b233060818988945f33460426105024024040923447ad1102000028b8f0e001e810021031840a2801831a0113b003a5485843004c10c4c10d6a04060a84d88500038ab10875a382c",
                                                "miner": "0x829bd824b016326a401d083b33d092293333a830",
                                                "mixHash": "0x7d416c4a24dc3b43898040ea788922d8563d44a5193e6c4a1d9c70990775c879",
                                                "nonce": "0xe6e41732385c71d6",
                                                "number": "0xc5043f",
                                                "parentHash": "0xd1c4628a6710d8dec345e5bca6b8093abf3f830516e05e36f419f993334d10ef",
                                                "receiptsRoot": "0x7eadd994da137c7720fe2bf2935220409ed23a06ec6470ffd2d478e41af0255b",
                                                "sha3Uncles": "0x7d9ce61d799ddcb5dfe1644ec7224ae7018f24ecb682f077b4c477da192e8553",
                                                "size": "0xa244",
                                                "stateRoot": "0x6350d0454245fb410fc0fb93f6648c5b9047a6081441e36f0ff3ab259c9a47f0",
                                                "timestamp": "0x6100bc82",
                                                "transactions": [
                                                    "0x23e3362a76c8b9370dc65bac8eb1cda1d408ac238a466cfe690248025254bf52",
                                                    "0x4594fadbfa1b5ec0f3a0a13dd1d0ab42d176efd91ef14f6fcb84e9d06b02a159",
                                                    "0xdf8d8677c9cd5f81d8ee3663a4a64ce7fe93d35fcb46004529e77394630f8e11",
                                                    "0x9e46436f65301f740ef7ba164bdea907f47cd5b0a6d8d4e2a18d15011ca782b7",
                                                    "0x3b39ce96f3d0fa56ee166dd5bfb22367770ef6e6392217eb2667442ace384e2d",
                                                    "0xb7f356f63c0a775ac80f9e3ec3afa73499c0ae5504214621922ba2b9993b0555",
                                                    "0xfc313881f76d4bdd08c0bb92aa4c949d213f925ad9b38acc09a1ef028c67b2df",
                                                    "0x1fa1047bca09cea1bf7e1c8b09e0d871ded393cfb08d37a0c9cdbc4c833eb278",
                                                    "0xe8634ae1b9a1a292dc21bd742db353bc8fc53b91c9296231c6bc1982d6ad4fa0",
                                                    "0x3526dd76154055776483fd758cbe450c8818aa54390a8dee870a9e30899bf535",
                                                    "0x66939ebb18abe113376c9ba721ed7ac83b0d2fce5d99f327c28860e7ff39eea1",
                                                    "0xc27e328c7c0357f05c6cf38f99e61531b7a557f46790f7c7077ec7fab26e1bd9",
                                                    "0x9a08ce7aa7004f7f68507df9621ea8c4d25bb02ddc004180f1ad6b78e7bf2a92",
                                                    "0x4ee408dfab3a191f167706cfe7ece0518b243b2a9755ea33336d92b4dcb3becd",
                                                    "0x3d8817d1a27a31ca237fb671a0dd92a5393747f4eee5049e04d43dca2acd5bfc",
                                                    "0x19387bd5785d7cba76aaed1bdaecd4d31c1e0eaf8736b55653a68f7e92db4903",
                                                    "0xa9772bb479c652f747294d1f9d1ee3ab723f8e6534b7f3721fbe8fd215a1f9c4",
                                                    "0x9c29dd82afaaa2f27745efc3569b70c4a92e99fb1a79f13d3ecc0d39ab6ff502",
                                                    "0x2de6d92bb3e8d94923bcedf39a7514c6324f614101ef4f5b95201875774daeb4",
                                                    "0xffb6a0db95aa2d6b45240d672ae4148aa1e48205909958adfd5ca9a3a8951896",
                                                    "0xc5b5dc95681789d710cd857edebc21006f48742e7bafdf59f064a68e27842707",
                                                    "0x0d72b7cc36bcfaa88ff1a354ce8d397e9251b04141f43411e38abb6c4eb107fa",
                                                    "0x15f47f960f29027f093707912eb81582ac95d687140d18f12acab9b5b40ef356",
                                                    "0xdfef3a6feefe0fa5745142d435f4d10c51be5a1dadd5a8cc3b2603020d2c6275",
                                                    "0x8cf474d5287ed55eb2a4a04de507aecdd927c588e3aa4bd8af6b910dd5b50568",
                                                    "0x89c11f47e0c5ba3ec4939931c13b7dfe13e67a416fbe5470e3e9e49fd972e3fd",
                                                    "0x34b7557bae1cc03354f87bb5a14f4e6b546ef26246d556aabcce448bebb3161c",
                                                    "0x4bc5725e52119d81e0ecb0f6ab1443f1d9d26a73a8f9869d8029150d6d9a658f",
                                                    "0x754f9d56c64e874c9f32ff501821009909badfcd044dab220fec81f21ce9d263",
                                                    "0x96a012fd25388e9d7f0153617807bb43a363d9f3e50c5a4599c85fabf0fffc2c",
                                                    "0xc71bf878c03ebfba27efd382a66e9dcafc5599fbde5f1641c60643d39dd664bb",
                                                    "0x5ddf5779865503edf1d944bc93d88dbe3035b660ddb3a02bcc470747a3f55c8a",
                                                    "0xf0cdf2802754faf1cfe0e7279e2d050fe3256c4cca9c4f8b49124f38e200f08c",
                                                    "0xb0d5d4d4f87ee31d97898308bcd04b53fc08dc9897a9aab8eb7a3371b81ff30a",
                                                    "0xef135b8dddd75eece2116bfe06319bc259575c3a0cb9790f402b536ffb5855a7",
                                                    "0x99bf44509b9e7c02c9c05edb55e9e319e5eea7764ae618288e9625b5eaf008be",
                                                    "0x7fc977ab447c862b70d71a0a767f2ec5fc71c57b973eaf0381123ba57c21f080",
                                                    "0x58e62af91b1522cec2c0236554ce97de460e9ac1c3be8f974ffdc9692a028b5b",
                                                    "0xa5fac68ebd9e67beb3257e27ceffeea97897d8ec0035962b40614adadc6fd39a",
                                                    "0xa59b829311d9541ecf78e3d37bbd80626f7f69a0f78d018059f597aada232169",
                                                    "0x447a233f931b17de349a0cb9c0491e3069b6b5571d123d3b024d646038087c63",
                                                    "0x8ad4adffc0629fe6f0b86a7e977df5512f46f29ba86ed962aca742d3ca49f9f8",
                                                    "0xbec9140ddfafc5ec2e7685c881a063434040f7c0effea2fa1aed431b58dd983f",
                                                    "0x25dbcc04993f9fdca796bc4e198241e8b7c7868769987e10c03779a5570d53ce",
                                                    "0xbfd6cfcd26f84b63adc69abf6dc5ac660c7c48fe53dbf455151355d2ed82e978",
                                                    "0x4bcf8deb857cb26416a252785ea37d286b9911e59e59d7562c58720a0c0d0502",
                                                    "0x34def152d3d2be779bb313ddf16a80078104c125405b518fd1aaa83c083a99fc",
                                                    "0x2fd89717234767eb62d574fb5cd286a4a4917260df270f30696a1d98ec233567",
                                                    "0xe05b4b96dd2fe863a28d9f92565de74eadcec4f348929f333f2245492d96e3ab",
                                                    "0xbb77da3bb1929d634492fe33ca88b9e66186b2a076521573c8ecc591c8ad0a6b",
                                                    "0x40cd257a1668ec4f962719216fd8db25affa29aa88bed9f5bdb4f9f963ea017c",
                                                    "0x7c556fbb972781b09475a5fefbc44ac8c0c3cdc271a792001680bb658ed4f90b",
                                                    "0x876045cb45fb2774455de16641bc72c068f1e1ee4a22f6771f74d4a8f1265f95",
                                                    "0x393a03cf5ec830d5f70dcb2460ddbcc303a09d522d38c22b6ebe71b276006188",
                                                    "0xb07f0c71df547831cefdb31be6c83196a862064d9617572ea6dfba3522626dc6",
                                                    "0xc1817447b83e3493f61aee6d233081397746e6bc4f19b4163c2000eccc9e6d56",
                                                    "0xb1418978ea449c6d0d78d6f15bf7790b0ca2ba341b66be3b42cdd73d099824e9",
                                                    "0x6e4bfc06b3ea6953f6e48b11dcc82a2bc891109cb23bd67c412c791953cc0fc7",
                                                    "0x78af08fd3f22dddad793e83e82e2dec27f37c5f8ac3a505a3e5d1f87cc82362c",
                                                    "0xd84a318ef0dd87c3a83a375674f25124810e779e917b464d786402d4147ee3d2",
                                                    "0x74ebce33cde111cf0eeca391268d445d4c64969122607160208e56077aa6dc3d",
                                                    "0x2cd30cc6caa40512fbb175d4bebafade698c67361fb47665dcb8bba67e7e85ba",
                                                    "0x9bcfe3ecc4b06733857b6d02dede8e9ba3130074c40d54c2e703ffd0ca2da38c",
                                                    "0xc75f3ef303473cf5f561967161df3829410bf34d330b542b92d659985f0c957f",
                                                    "0xce62527061029950c6aaaa7c75a82f1d064b4540a0e094d1287906e0110447bd",
                                                    "0xbce2506fa1f4f7d75de69f5b7414a735dd8d1597088f4b4d40e396aaef48c36b",
                                                    "0x81113ebb41ff8b02d87207d4b9eacea9e6793cb75f387e9052d144305c2164a3",
                                                    "0xa11380e31223ca2f5750fcabda6f3d395b74b2c504120169166dc13705c06d33",
                                                    "0x61e95f7f3bbea32d3ec5bc991975ff9ba0c3d991b7d581b1d1e37954fc239d7d",
                                                    "0x5acbe7392ccc4055d859700a7ea24d01b3f64e538cb256d6e45cf21339d45689",
                                                    "0x196d2e5bb4fc8b19f712ed0ca30efccda1ea14aaed4b138126646da9aff6b14a",
                                                    "0xe76fecf1a373fccbaf009e33ac25cdd1ca4d776eb8a40912d18c8acde49768e0",
                                                    "0xd6ad96a45e0eb419c17afae06799a513e62bffb605bdab9eecb6998762abe6f2",
                                                    "0xc4dd4432325ec11426c165d614af2e416ef3b107e5a6b0cfdaa6a02122b3330f",
                                                    "0x50501c6c0bb596456428045bf55f45b4e7ba53d9ad65e5cac949aafa784932e9",
                                                    "0x816975fe1a74ff585b75c897c1508cfc3207d06d5b13ccc381dd35339070c59c",
                                                    "0x44aa9df733c91ad4a76fe463d4cc9565e4c39c8cc18982355c271afab3e9386e",
                                                    "0xa1775f7634f42205e72f77069275cae5e554d0888879f4b61c403e6dcf930808",
                                                    "0x2512bf6743914f955cc34bdbcb2bdbe62eb00c85ddb68519c5d15e72ba08b11a",
                                                    "0x4251720f9e91348dac706f0ca413bf79dec1f0b040ed2c3f7b3afb69a48b17c0",
                                                    "0x7706c712cbec52ec9bbad44a9adeb0f8b0b3ef6db20f5518e78110d1db7cdca5",
                                                    "0x08bd31fda8a20567b270bd53a89648efa482913cbb2a729c3be3f493921ae3c5",
                                                    "0x6d1b2230d3c30f05eb742553345b29db39388fd6f7486839f86812990ffbb00f",
                                                    "0xc500c29aa9d612fb1de722d6d667a61a0294659215fbd4ac82d8cb1851726c0a",
                                                    "0xf5824c703fb7dfcc18a2daec69f163a7d0f77d85e346ee1f69b8a1c09a852082",
                                                    "0x2db2122c9894b20fbdbb8087d17fb8c7c10f73ef738e36dfd7db86724b954eb7",
                                                    "0xecc66f5a4d721f6b33ebf0a4e3ca0471bf5376439691c23b6ba3f8190d9ce34b",
                                                    "0x8b9bd274ea59c65347ae8f87b89ba0de337a01dfe7184ca6b58bf003178c0885",
                                                    "0xe77b10d769b75db1090164392b9d25197ab5468e2d18c73820ec2caf1280104e",
                                                    "0x89088804eba0bc249d886e1767b88560d7f4cd63868a945e6bc0846a80cbe07c",
                                                    "0xa2b739c01fcea8dd7debc9c29b8d9dd5ab1b962dc467500ff71f0299593876f7",
                                                    "0x48ca8dfb22096d97efbd471b9cac7e217e59e22ced54a80e7de596d26266d39d",
                                                    "0x0d016f53936217b1ca9540d01ca10a6f37ed93c765496e271dcc84d0e83c493d",
                                                    "0xe40d11d137502fa3046b6197b8bd2a8992f54bfd083b85cfbb2ee678e7b6657e",
                                                    "0x4be95c486fd9ca2d1a2dfdd0b9c8be802bb2995d51342de8f99a830f436f81f2",
                                                    "0x3c594775d190a4d6eecf7446b8f0402152f5cee1dfd8bfe783285a56060481bb",
                                                    "0x8956b485a63c3ce1339302d3805eba3fa0a740b8cad2ed5823f901b7a910fbe3",
                                                    "0x53fd85585652b995fe437da9e10573941410f5866ea95eb6c233de52bab6ca3b",
                                                    "0x01929a92f870133256c851b00aa6de00c27ca85ee6cc4a599093d47962ae9120",
                                                    "0x6a47dc8fa1c8176ca33f4954c222238456121f6084ec21bb95805726ed4dce09",
                                                    "0x0732ff7bb86151a6fedfc29fba8a95a27f0f3c166f520dbb79232ed824ba4255",
                                                    "0x8aa742d3e519344da873d6cd6c1c22e9749de899943b5cca49d32d9b7fb0d8af",
                                                    "0x312a3f1e9d7b66fda1808cfbaf1bef9a5e893bce6ebb34ddaaa53225ed4cd460",
                                                    "0x7bd4ca0a2d0bf0a321c52c796020d29a70591f03f280a9e9c61797f46f6b97ea",
                                                    "0xf64a5589bd4e6f185ebff08059676e1e7c6e4dbe27bbf0bf41953736b0ac4670",
                                                    "0x5fd59eae7b684716a0a5cea5de19625490511bb40c20fa25a6510a2da84d0e1e",
                                                    "0x18894fafcc76e6c0e65b39812b37dc4c9a9873196a55e7a7289b67e2f7f6c014",
                                                    "0x07ef6503b177384ca281b8e572ecee6be13a1f5131c404a08ffb250626531868",
                                                    "0xa27ced86d920b88879aede49453217ad4e9c445b04804f33db444d9eb9c1ae46",
                                                    "0x4f5a2b3ee867086f9251ab3c4dde1f630539c42f13f1011dbe83a4c1856e2a9e",
                                                    "0x61cc6c7d7f8fff6f52ab7ecf73597dd9d51554fa7d95a3394fa1f96231cd8092",
                                                    "0x73fa64544235570893c853472e549912d5686cd49fa9152af6c5f5330c491951",
                                                    "0x8ebe32eddee85fa2cb27d5d430490e999c10b7e1d6f2e72dc1b3fe4b285cef84",
                                                    "0x03357b108dd79a2c99e51cf0ae61cee8592c312adf73bcd4bdbfb688f5165c56",
                                                    "0xebcbfebf17c3d2f71b11324e77cd949a09587890fe10f3d7b32cd8e5ffbc9821",
                                                    "0xe7b276fcc35525855d3b6f4192754c750cda7829afeea23dc0b82f66ebb1e768",
                                                    "0x972f2b312b1bc9e6a4f9424cf144257c51fa56cf6698819511a5eccd8ef12d60",
                                                    "0x67b64b3399cc432cb56178af586491dca614c668ad847ecc4ca874ef0ca47aa4",
                                                    "0x8384be17e379d5684e1dbb03bcdad97cabe9f9503f6d02f58414c8ee5bb5d383",
                                                    "0x13fb1e255853d0c62fd24c6a4d918325fb2da009f5c77faf51acf08a575b2e89",
                                                    "0xb3d37715a16d637d357347e0821846d2b857a56b7f865212ca75a0c7152f439f",
                                                    "0x86053401b876ac19eb5cd5baf00aa11961369acddb0b19513f01342e884ebe9b",
                                                    "0x9b4da2fb9e662f4ebe265fb8462f90a73c090446714740c65b2d9164393fe0e2",
                                                    "0x0c1744c3407be9e71bcf974f4fbee16e09f269e496bd755fa0541efd09a200a9",
                                                    "0xf258724bee830ab9c351831b0ed6cd9a42faf738076872bd620fcad530dd4333",
                                                    "0xf62a3581a31d2aa4b0e351e12c8dacb3a67b9d6030263a37b1d7f591cf82c733",
                                                    "0xfa7da3edc5ebf78489874ad39d6ca618bf11c1088c7cb38ae45aadf2025052df",
                                                    "0xe887b6cbed80b4fe51b496c3e92dc133a61a2ab4e5af56490b7d7a7408a24a69",
                                                    "0x29601e88f57d0063a526b56946f35eddcddf5153b898ebdf2dff7bc22cc453c8",
                                                    "0x7a2d7038ffdac252c89dc6a2f3a4d9ddc0d04cf80d67c8160bb89cb994c13788",
                                                    "0x94c39f09595a647f4e515dd46a1c1512f032f9ee8afcfc0ba87b27949b54253e",
                                                    "0x1032033a74c213373e9e2c062979bf6e978b8965d4f34dbacf07f5c9d14a4bf7",
                                                    "0x99966f619b833ac793d025066a9ee23e5e2b7ecda1ef09c5fec9c0c4947b5f8e",
                                                    "0x80493edd6890e79b0f3ffc51ec9291909961192f47fe15069f494eba434cd338",
                                                    "0x24463b83082229c6f5212aad773cdcec9e50cdc5738d7715257daf8b5af4a34c",
                                                    "0x9e26998da867afe7e2308bc2d1c130598fd85dc6f65ffeb38db8083f7c7a57ed",
                                                    "0xd21c59fe5f0df22128f950eeff10e675babda255f10478de3d7430fe300261bb",
                                                    "0x1c52c27fda6f81ec4d059655328856f1672e86a402235615c0dd2e63cb9d5ff2",
                                                    "0x4f9b0287cef54398820330387186d6efdb3e13384ce20182ecc64c9ff6a0761a",
                                                    "0x464183ac7f62af5b1dbccdf855c142610e349b0cfee25973bdaad0000381b8fc",
                                                    "0x73a0de8fc89271b9928c9af7e53ce8683c60b6935696120f2ad8cfc8818dceec",
                                                    "0x55e273a0db0e574bf2f33e9fd21ed37ac584e9e8d825fab3ec388d4d4586a7b4",
                                                    "0x732919811dc471ae8c08a163d1869193031eaab59fc6e3aa5ff707b9012204a5",
                                                    "0x5173c88bba7fc030cc03de71df02a2ee5df71477f457d0d0ff338a772dfcf027",
                                                    "0x7c2693e5e4aeeb7ca3e5d7a8a4cf5342c042749b3c53f41f57fe325153c51403",
                                                    "0xeae37ffd2046a9dbbd1eb95a64eec400edb2be6191d552d551241e3d8fdbb342",
                                                    "0x6ae077c76516658658663a5affbfc98991569bcc492655eee28a66953fd02495",
                                                    "0xb8406e248f417ee3c71d2ae4d235d8993b9b20d7a5c12892f48916e7e33bc1c3",
                                                    "0x9e311e9620df21e97964a2976066951768a9e1393f0a1b959d4835ddcc8e098c",
                                                    "0x6c732b0be08318fab6b7f45bc8da129e51a0e56430cf98d0005f3fd546c3f227",
                                                    "0x93db83239871aa4965de99bb67e54687fc11d5283e98c2463077c663757ee26d",
                                                    "0x31175ec96fe193e182159edbe4d1f69e44d07a18edc56636119b17235b9d412e",
                                                    "0x5cd2eac47fce31b5c0b64cad25f31517b89763100a075f2742fbf595e06cf95c",
                                                    "0x3b58b5160262e62ff010dc5ad694dd6350f63317748bfc012ed8362bbfc02f6c",
                                                    "0x1566ac049ce984bb9548ef20398900f7b1852be48792c8ee267f443a07d0f0f5",
                                                    "0xe40c6b58cbb3e4ce42c483b453654d4b1d1d5d6f643e13a4a0e883127242a8e9",
                                                    "0x53119621dddacdf5907e472bd7f6af40d2e1e48512863a83c79cbc37ff90efa4",
                                                    "0xe7dcb81d18768e585042a6c1848b027aa090d93e713d814aad58ed7272eee008",
                                                    "0x12b71f6a34950851466b1f6df8309f6ecb76708d692ba70a56460bdd158a8db7",
                                                    "0xdebd113e89be3713c847ea6477442b93186d0555a1ec25d1d5d9e23dfd665aeb",
                                                    "0xa951769dd46c6112fc632af258d6ea1023f15e7dd98e0879fe45c5a3fe10afef",
                                                    "0xfb4598d3a321d52810edfc2bf1ec42e0fd3105112b8e68f1b0c8cedb9f9f1c1f",
                                                    "0x9c8c06a7d65b3831b64bc23ea0f8e23be6aa1d9c271d9a5b05c8f50f2ba00e9f",
                                                    "0x15316ed4cc69b5a7efab2ffffadd285bc9d52c379a93b89656d3f6d96cb48cf0",
                                                    "0xbb9b442558460c1e3bacfef22f9048c7bd1eb532a719bf4bcbee48ddf14b13e4",
                                                    "0xc5ee18f7beb4e6b3994f756a5dad5ab6a3a4c0f3a41e78b1ece8b654c3a949ee",
                                                    "0x96fb18ccfdc425359df326f49e15b9bb92a0489eb50a3af8a8c12061a2b0f2db",
                                                    "0x806c03ab6db8d410d9b5e0941e5518b255584ebe6fdae39fe44855ef449747c3",
                                                    "0x080c8547ebdf96ec5a40d2a07d127c6bbd5289c3283f96a1fcc2c1a02dc49368",
                                                    "0x0f04ce69e480f8a89e8caad22ab1d46827bc0572fc59296d19def89d30c0dabe",
                                                    "0xafeec48bd8c6931a18b15deeee692c24671ccfd07ea6f40414429dde5bd7bd9c",
                                                    "0x806f4fdc4773594040e3a8b090f550854c9e4d82cd1bc66518a115827fc87d06",
                                                    "0xf34c279c604265b07052746e296f2a1a707e25c4f5792e9e1f5eb7c2ec27edec",
                                                    "0x13cbe5baacac6f1bf9c588bd3172ac2355aaa6eb9c6227d2db62abf0882e23ef",
                                                    "0xb1e711163ea26b6fa6f2a12f7ad29a411bbe7510b96f799107de427b6199bf66",
                                                    "0x0a4f8ba9ad2d234a831caa8e46095de2b36c1a52c0b793e684cffba5731b8f3d",
                                                    "0xd9a4473963399200e305cfe46d346f803eb8c47bd4f795d171b1aa59d19979ea",
                                                    "0x7a10956a6c5983cbecc2e04ba80e57dca3889eb6e9875beac0336496b66a6b18",
                                                    "0xcf4bf529fb2577ec525c1ccd99958dbdf895a67cabbfac481047d1e068515931",
                                                    "0x52b7709e43d8f7a049f81a494c6a15ca351dcc3de15ca4c4691bf2c67c7b8fa7",
                                                    "0x16feddbf16993dd9c647c8ec0fc426ca59e1791f1225b5f3878dbbe8757709a9",
                                                    "0xa3424c0cf75d2d036d4ded32f51f77cfd1ca320cbb2fb7e3147b4684c9bb24ef",
                                                    "0xcd9c7516e1d3f6303927cd336515223c85263f5a1a600ce9308daf8175426213",
                                                    "0x6e6f289c6372bbcf2e6a64ec189d2df76cdea84f3d4d021128d6df9f4003a568",
                                                    "0x4ac02b5231156227dce2de953e75beaa9bb20dcc7a5e0ac159fb8f296d23e2a7",
                                                    "0x5b2941c4374f4ddc3c4c6f292091c222327ab4926e81208330dc3bdbde2d1aa9",
                                                    "0xfde96ae444b198097517e0dc1adc0f8e10f54201a05d1c606d27fcf8fb38b23e",
                                                    "0x011707849af93ba5c14ad9e16abe244b9273bd4ae4aa76b9d6b1d36ac3f90216",
                                                    "0xcd559ee9fbdcdb00865ab4036ac53e4a1478dec6144e33ef1bf07cef13ce668f",
                                                    "0xd5ce6b15934137837ae6dd62e0f866f5b090d44ac2cf9e569b43bb0ba7be7876",
                                                    "0x51a82e7b54f1d7f598931a079bcf01267ba5eb15df74b2941be07ea6dec10ed7",
                                                    "0x41e3cbe84c15e01473d60a4b0e72d4b152faf130701d633ed20c067edffcd0a8",
                                                    "0x3b556da9487dddb7ef49ef74f4445b68c9b37a3f609d885e0d0c73e5eb59c4b5",
                                                    "0xdc5fc07aa8091a54dcaf7093dad23024d259c13479ffd0dcbb1606bfa3ab165d",
                                                    "0x29d20aa79fb602e7f79fcc6cb1016b3f295ee264301b9b47a677c8df23ee8297",
                                                    "0x8378bd69b03576a5a82b8eeb05ffd264da81a23d7ca4858176916d9f362e6f84",
                                                    "0x9f49bc635a828db492ed135c79cf75893579128e506e410d3db5ae910f11fbf0",
                                                    "0x11adffc114eb37870d8758bd2b08d03360e7d772a071cff6a1103a636899c62b",
                                                    "0xe3f35f932de1621b4c35edd7679e0508552a963229186c729a567604aa478746",
                                                    "0x5c7aea605bdd6c75effcf4fb622124d0fa6c1488f1c74d4d739d01b0d1c76eb6",
                                                    "0x4280bb8e9be86649185b0e1d71cdc470b7cefc9b88d66763f46988c1046c3f87",
                                                    "0xf1ab789ddfa24f023c2fa081c5f5805d68fac311dec6c47555d9e38f3fbb0056",
                                                    "0x869a4cb8ddfc357795fd007fcfb5451fd19a94321e2ba34f114b61ac8a38023f",
                                                    "0x3dc2776aa483c0eee09c2ccc654bf81dccebead40e9bb664289637bfb5e7e954"
                                                ],
                                                "transactionsRoot": "0xa17c2a87a6ff2fd790d517e48279e02f2e092a05309300c976363e47e0012672",
                                                "uncles": [
                                                    "0xd3946359c70281162cf00c8164d99ca14801e8008715cb1fad93b9cecaf9f7d8"
                                                ]
                                            }
                                        }
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/Output"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{network}/eth_getBlockTransactionCountByHash": {
            "post": {
                "tags": [
                    "ETH Methods"
                ],
                "summary": "Returns the number of transactions sent from an address.",
                "description": "Returns the number of transactions sent from an address.",
                "operationId": "eth_getBlockTransactionCountByHash",
                "parameters": [
                    {
                        "name": "network",
                        "in": "path",
                        "schema": {
                            "type": "string",
                            "default": "eth-mainnet",
                            "description": "The blockchain network to connect to.",
                            "example": "eth-mainnet"
                        },
                        "required": true,
                        "example": "eth-mainnet",
                        "description": "The blockchain network to connect to."
                    },
                    {
                        "name": "projectId",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "8ry9f6t9dct1se2hlagxnd9n2a",
                            "example": "8ry9f6t9dct1se2hlagxnd9n2a"
                        },
                        "required": true,
                        "example": "8ry9f6t9dct1se2hlagxnd9n2a",
                        "description": "The id of your project. Can be found in your Histori dashboard."
                        
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "jsonrpc": "2.0",
                                "method": "eth_getBlockTransactionCountByHash",
                                "params": [
                                    "0x829df9bb801fc0494abf2f443423a49ffa32964554db71b098d332d87b70a48b"
                                ],
                                "id": 1
                            },
                            "schema": {
                                "$ref": "#/components/schemas/Input"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Sample Response": {
                                        "summary": "Real World response",
                                        "value": {
                                            "jsonrpc": "2.0",
                                            "id": 1,
                                            "result": "0x7b"
                                        }
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/Output"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{network}/eth_getBlockTransactionCountByNumber": {
            "post": {
                "tags": [
                    "ETH Methods"
                ],
                "summary": "Returns the number of transactions in a block from a block matching the given block hash.",
                "description": "Returns the number of transactions in a block from a block matching the given block hash.",
                "operationId": "eth_getBlockTransactionCountByNumber",
                "parameters": [
                    {
                        "name": "network",
                        "in": "path",
                        "schema": {
                            "type": "string",
                            "default": "eth-mainnet",
                            "description": "The blockchain network to connect to.",
                            "example": "eth-mainnet"
                        },
                        "required": true,
                        "example": "eth-mainnet",
                        "description": "The blockchain network to connect to."
                    },
                    {
                        "name": "projectId",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "8ry9f6t9dct1se2hlagxnd9n2a",
                            "example": "8ry9f6t9dct1se2hlagxnd9n2a"
                        },
                        "required": true,
                        "example": "8ry9f6t9dct1se2hlagxnd9n2a",
                        "description": "The id of your project. Can be found in your Histori dashboard."
                        
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "method": "eth_getBlockTransactionCountByNumber",
                                "params": [
                                    "0xc5043f"
                                ],
                                "id": 1,
                                "jsonrpc": "2.0"
                            },
                            "schema": {
                                "$ref": "#/components/schemas/Input"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Sample Response": {
                                        "summary": "Real World response",
                                        "value": {
                                            "jsonrpc": "2.0",
                                            "id": 1,
                                            "result": "0xcc"
                                        }
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/Output"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{network}/eth_getCode": {
            "post": {
                "tags": [
                    "ETH Methods"
                ],
                "summary": "Returns code at a given address.",
                "description": "Returns code at a given address.",
                "operationId": "eth_getCode",
                "parameters": [
                    {
                        "name": "network",
                        "in": "path",
                        "schema": {
                            "type": "string",
                            "default": "eth-mainnet",
                            "description": "The blockchain network to connect to.",
                            "example": "eth-mainnet"
                        },
                        "required": true,
                        "example": "eth-mainnet",
                        "description": "The blockchain network to connect to."
                    },
                    {
                        "name": "projectId",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "8ry9f6t9dct1se2hlagxnd9n2a",
                            "example": "8ry9f6t9dct1se2hlagxnd9n2a"
                        },
                        "required": true,
                        "example": "8ry9f6t9dct1se2hlagxnd9n2a",
                        "description": "The id of your project. Can be found in your Histori dashboard."
                        
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "method": "eth_getCode",
                                "params": [
                                    "0x5B56438000bAc5ed2c6E0c1EcFF4354aBfFaf889",
                                    "latest"
                                ],
                                "id": 1,
                                "jsonrpc": "2.0"
                            },
                            "schema": {
                                "$ref": "#/components/schemas/Input"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Sample Response": {
                                        "summary": "Real World response",
                                        "value": {
                                            "jsonrpc": "2.0",
                                            "id": 1,
                                            "result": "0x6080604052600436106100555760003560e01c80631fa772501461005a57806341c0e1b51461012e5780634671212a14610145578063a034e82f146101b1578063c5afaeeb1461030f578063d6a10612146103d6575b600080fd5b34801561006657600080fd5b506100b36004803603604081101561007d57600080fd5b81019080803573ffffffffffffffffffffffffffffffffffffffff16906020019092919080359060200190929190505050610517565b6040518080602001828103825283818151815260200191508051906020019080838360005b838110156100f35780820151818401526020810190506100d8565b50505050905090810190601f1680156101205780820380516001836020036101000a031916815260200191505b509250505060405180910390f35b34801561013a57600080fd5b506101436105dd565b005b34801561015157600080fd5b5061015a610670565b6040518080602001828103825283818151815260200191508051906020019060200280838360005b8381101561019d578082015181840152602081019050610182565b505050509050019250505060405180910390f35b61030d600480360360608110156101c757600080fd5b81019080803590602001906401000000008111156101e457600080fd5b8201836020820111156101f657600080fd5b8035906020019184600183028401116401000000008311171561021857600080fd5b91908080601f016020809104026020016040519081016040528093929190818152602001838380828437600081840152601f19601f8201169050808301925050505050505091929192908035906020019064010000000081111561027b57600080fd5b82018360208201111561028d57600080fd5b803590602001918460018302840111640100000000831117156102af57600080fd5b91908080601f016020809104026020016040519081016040528093929190818152602001838380828437600081840152601f19601f8201169050808301925050505050505091929192908035151590602001909291905050506106fe565b005b6103d46004803603604081101561032557600080fd5b810190808035906020019064010000000081111561034257600080fd5b82018360208201111561035457600080fd5b8035906020019184600183028401116401000000008311171561037657600080fd5b91908080601f016020809104026020016040519081016040528093929190818152602001838380828437600081840152601f19601f820116905080830192505050505050509192919290803515159060200190929190505050610b46565b005b3480156103e257600080fd5b5061049c600480360360208110156103f957600080fd5b810190808035906020019064010000000081111561041657600080fd5b82018360208201111561042857600080fd5b8035906020019184600183028401116401000000008311171561044a57600080fd5b91908080601f016020809104026020016040519081016040528093929190818152602001838380828437600081840152601f19601f820116905080830192505050505050509192919290505050610b71565b6040518080602001828103825283818151815260200191508051906020019080838360005b838110156104dc5780820151818401526020810190506104c1565b50505050905090810190601f1680156105095780820380516001836020036101000a031916815260200191505b509250505060405180910390f35b6001602052816000526040600020818154811061053057fe5b90600052602060002001600091509150508054600181600116156101000203166002900480601f0160208091040260200160405190810160405280929190818152602001828054600181600116156101000203166002900480156105d55780601f106105aa576101008083540402835291602001916105d5565b820191906000526020600020905b8154815290600101906020018083116105b857829003601f168201915b505050505081565b600360009054906101000a900473ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff163373ffffffffffffffffffffffffffffffffffffffff16141561066e57600360009054906101000a900473ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16ff5b565b606060028054806020026020016040519081016040528092919081815260200182805480156106f457602002820191906000526020600020905b8160009054906101000a900473ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190600101908083116106aa575b5050505050905090565b60008090506000836040518082805190602001908083835b602083106107395780518252602082019150602081019050602083039250610716565b6001836020036101000a038019825116818451168082178552505050505050905001915050908152602001604051809103902060020160009054906101000a900460ff16610b405760405180608001604052803373ffffffffffffffffffffffffffffffffffffffff16815260200185815260200160011515815260200183806107c05750825b15158152506000846040518082805190602001908083835b602083106107fb57805182526020820191506020810190506020830392506107d8565b6001836020036101000a038019825116818451168082178552505050505050905001915050908152602001604051809103902060008201518160000160006101000a81548173ffffffffffffffffffffffffffffffffffffffff021916908373ffffffffffffffffffffffffffffffffffffffff1602179055506020820151816001019080519060200190610891929190610e88565b5060408201518160020160006101000a81548160ff02191690831515021790555060608201518160020160016101000a81548160ff021916908315150217905550905050600160003373ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff16815260200190815260200160002083908060018154018082558091505090600182039060005260206000200160009091929091909150908051906020019061094f929190610f08565b505060018060003373ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff168152602001908152602001600020805490501015610a025760023390806001815401808255809150509060018203906000526020600020016000909192909190916101000a81548173ffffffffffffffffffffffffffffffffffffffff021916908373ffffffffffffffffffffffffffffffffffffffff160217905550505b7f5c9498f331ff3062bd1b207f8738918bb293212577e936f80ed6674a1f0c4a258484336040518080602001806020018473ffffffffffffffffffffffffffffffffffffffff1673ffffffffffffffffffffffffffffffffffffffff168152602001838103835286818151815260200191508051906020019080838360005b83811015610a9c578082015181840152602081019050610a81565b50505050905090810190601f168015610ac95780820380516001836020036101000a031916815260200191505b50838103825285818151815260200191508051906020019080838360005b83811015610b02578082015181840152602081019050610ae7565b50505050905090810190601f168015610b2f5780820380516001836020036101000a031916815260200191505b509550505050505060405180910390a15b50505050565b60008090506060610b5684610cda565b9050610b6b84828580610b665750845b6106fe565b50505050565b6060600080836040518082805190602001908083835b60208310610baa5780518252602082019150602081019050602083039250610b87565b6001836020036101000a038019825116818451168082178552505050505050905001915050908152602001604051809103902090508060020160009054906101000a900460ff1615610c9b57806001018054600181600116156101000203166002900480601f016020809104026020016040519081016040528092919081815260200182805460018160011615610100020316600290048015610c8e5780601f10610c6357610100808354040283529160200191610c8e565b820191906000526020600020905b815481529060010190602001808311610c7157829003601f168201915b5050505050915050610cd5565b6040518060400160405280600481526020017f4641494c000000000000000000000000000000000000000000000000000000008152509150505b919050565b606060006002836040516020018082805190602001908083835b60208310610d175780518252602082019150602081019050602083039250610cf4565b6001836020036101000a0380198251168184511680821785525050505050509050019150506040516020818303038152906040526040518082805190602001908083835b60208310610d7e5780518252602082019150602081019050602083039250610d5b565b6001836020036101000a038019825116818451168082178552505050505050905001915050602060405180830381855afa158015610dc0573d6000803e3d6000fd5b5050506040513d6020811015610dd557600080fd5b810190808051906020019092919050505090506000600f905060007fffffff000000000000000000000000000000000000000000000000000000000060001b9050806006830284901b1660405160200180827cffffffffffffffffffffffffffffffffffffffffffffffffffffffffff19167cffffffffffffffffffffffffffffffffffffffffffffffffffffffffff191681526003019150506040516020818303038152906040529350505050919050565b828054600181600116156101000203166002900490600052602060002090601f016020900481019282601f10610ec957805160ff1916838001178555610ef7565b82800160010185558215610ef7579182015b82811115610ef6578251825591602001919060010190610edb565b5b509050610f049190610f88565b5090565b828054600181600116156101000203166002900490600052602060002090601f016020900481019282601f10610f4957805160ff1916838001178555610f77565b82800160010185558215610f77579182015b82811115610f76578251825591602001919060010190610f5b565b5b509050610f849190610f88565b5090565b610faa91905b80821115610fa6576000816000905550600101610f8e565b5090565b9056fea265627a7a72315820891f46bb3aaa4cdf8cdfbaa65e75646a76f6d0a504a304b4e2e8967ea03bd5e964736f6c63430005110032"
                                        }
                                    }
                                },
                                "schema": {
                                    "$ref": "#/components/schemas/Output"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/{network}/eth_getFilterChanges": {
            "post": {
                "tags": [
                    "ETH Methods"
                ],
                "summary": "Polling method for a filter, which returns an array of logs which occurred since last poll.",
                "description": "Polling method for a filter, which returns an array of logs which occurred since last poll.",
                "operationId": "eth_getFilterChanges",
                "parameters": [
                    {
                        "name": "network",
                        "in": "path",
                        "schema": {
                            "type": "string",
                            "default": "eth-mainnet",
                            "description": "The blockchain network to connect to.",
                            "example": "eth-mainnet"
                        },
                        "required": true,
                        "example": "eth-mainnet",
                        "description": "The blockchain network to connect to."
                    },
                    {
                        "name": "projectId",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "default": "8ry9f6t9dct1se2hlagxnd9n2a",
                            "example": "8ry9f6t9dct1se2hlagxnd9n2a"
                        },
                        "required": true,
                        "example": "8ry9f6t9dct1se2hlagxnd9n2a",
                        "description": "The id of your project. Can be found in your Histori dashboard."
                        
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "method": "eth_getFilterChanges",
                                "params": [
                                    "0x10ff0bfbedb01f0dbd4106d14eb719ec38b6eb5b821c"
                                ],
                                "id": 1,
                                "jsonrpc": "2.0"
                            },
                            "schema": {
                                "$ref": "#/components/schemas/Input"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "examples": {
                                    "Sample Response": {
[...]
